.container {
    width:100%;
    /*margin: 0 auto;*/
    margin-top:100px;
    background:#f9f9f9;
    font-size:24px;
        /*padding:25px;*/
}
.parallax {
    background:url('http://i.vimeocdn.com/video/592857175_1280x720.jpg') no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    height:500px;
}
h2 {
    /*margin:200auto;*/
    text-align:center;
    padding:210px 300px;
    color:white;
}
.box {
    width:960px;
    height:100px;
    margin:0 auto;
    /*padding-bottom:20px;*/
}
.header {
    background-color:lightblue;
    width:100%;
    height: 100px;
    top:0;
    position:fixed;
}
.logo{
    float:left;
    padding-bottom:50px;
}
.nav {
    float: right;
    margin-bottom: 50px;
    
}
li {
    float: left;
    list-style:none;
    margin:20px ;
    /*top:20px;*/
    /*padding-bottom:50px;*/
    /*margin-bottom: 10px;*/
}
a {
    text-decoration: none;
}