.container {  /*container divs contain all the parallax divs*/
    width:100%;
    margin: 0 auto;
    margin-top:100px;
    background:#f9f9f9;
    font-size:24px;
        /*padding:25px;*/
}
.parallax { /*div for the fixed background*/
    /*width:100%;*/
    background:url('computer-components/desktop.png') no-repeat/*one image*/ center;
    background-size: 800px 500px;
    /*background-size:cover;*/
    background-attachment: fixed; /*prevents the background img from moving--creates the parallax effect*/
    height:500px;
    
}

.parallax1 {
    /*width:100%;*/
    background:url('computer-components/CPU.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax2 {
    /*width:100%;*/
    background:url('computer-components/GPU.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax3 {
    /*width:100%;*/
    background:url('computer-components/RAM.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax4 {
    /*width:100%;*/
    background:url('computer-components/hahard-drive.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax5 {
    /*width:100%;*/
    background:url('computer-components/motherboard.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax6 {
    /*width:100%;*/
    background:url('computer-components/power-supply.jpg') no-repeat center;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax7 {
    /*width:100%;*/
    background:url('computer-components/case.png') no-repeat center;
    background-size:500px 500px;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
.parallax8 {
    /*width:100%;*/
    background:url('computer-components/monitor.png') no-repeat center;
    background-size:800px 500px;
    /*background-size:cover;*/
    background-attachment: fixed;
    height:500px;
}
/*.parallax9 {
    
    background:url('computer-components/monitor.png') no-repeat center;
    
    background-attachment: fixed;
    height:500px;
}*/
p {
    width:960px;
    margin: 0 auto;
    margin-top:30px;
}
h2 {
    position:relative;
    margin:0 auto;
    /*margin-top: 30px;*/
    text-align:center;
    top:200px;
    /*padding:210px 300px;*/
    color:white;
    text-shadow: 2px 2px 2px #000000;
    width:200px;
    height:100px;
    transition:1s ease-in-out;
}
h2:hover {
    transform:rotateZ(360deg); /*causes the words above the background imgs to rotate*/
}

.box {/*contains the logo and the nav bar options*/
    width:960px;
    height:100px;
    margin:0 auto;
    /*padding-bottom:20px;*/
}
.header {
    background: linear-gradient(to bottom right, white, blue);
    width:100%;
    height: 100px;
    top:0;
    position:fixed;
}
.logo{
    float:left;
    padding-bottom:50px;
}
.computers {
    color:white;
    animation-name:computer;
    

    animation-iteration-count: infinite;
    animation-duration:5s;
    transition:2s ease-in-out;
     
    
}
@keyframes computer {/*causes the color of the logo to change constantly*/
    0% {color:white;}
    25% {color:lightblue;}
    50% {color:blue;}
    75% {color:darkblue;}
    100% {color:blue;}
   
}
/*.computers:hover {
     transform: rotateZ(360deg);
}*/

.nav { /*navigation bar*/
    float: right;
    margin-bottom: 50px;
    
}
li {
    float: left;
    list-style:none;
    margin:20px ;
    margin-left:10px;
    padding:0 20px 0 20px;
    /*display:inline;*/
   
}
li:hover {/*causes the options in the navbar to enlarge when the mouse is over them*/
    font-size:20px;
    /*color:black;*/
}
a {
    text-decoration: none;/*removes the underline from the links*/
}
footer {
    width:960px;
    margin:0 auto;
    margin-top:20px;
    height:70px;
    background:#424747;
    color:white;
}
.yt {/*link*/
    top:15px;
    left:50px;
    position:relative;
    margin:0 auto;
    /*margin-bottom:10px;*/
    height:50px;
    width:200px;
    color:white;
    background:#1fddd7;
    padding:10px;
    opacity:0;
    transition:opacity .5s;
    /*display:inline-block;*/
    


}
.yt:hover {/*increases the opacity and the color of the link*/
     color:red;
     opacity:1;
     /*font-size:45px;*/
}
.test {/*red box*/
    margin:0 auto;
    margin-top:50px;
    margin-bottom: 50px;
    width: 100px;
    height: 50px;
    background: red;
    transition: width 2s;
}

.test:hover {/*causes the red box to extend to both sides*/
    width: 300px;
}


h5 {
    position:relative;
    top:20px;
    left:10px;
}